/* add your CSS here */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.card {
    max-width: 330px;
    background-color: black;
}

.card,
img,
.information {
    border: 2px solid darkorange;
    border-radius: 10px;
    background-color: black;
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: auto;
    padding: 5px;
}

.information {
    font-size: 0.8em;
    margin: 10px;
    padding: 5px;
}

.fact {
    font-style: italic;
}

.list {
    list-style: none;
    padding-left: 0;
}

span {
    font-weight: bold;
}